.ChildLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    width: 100%; 
}
.CLTitleContainer{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.CLTitle{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}
.PinPad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    width: 100%;
     
}
.PinContainer{
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
.PinInput{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;    
        
}
.PinButton{
    background: rgba(109,146,229,255) !important;
    border-radius: 15%;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 100px;
    font-size: 25px;
    border: 1px solid black;
    margin: .5vw .5vw;
}
.lastRow{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .ChildLogin{
        padding-top: 20%;
    }
    .CLTitle{
        font-size: 35px;
        padding-bottom: 40px;
    }
    .PinButton{
        background: rgba(109,146,229,255) !important;
        border-radius: 15%;
        box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
        width: 80px;
        height: 80px;
        font-size: 25px;
        border: 1px solid black;
        margin: 1vw 1vw;
    }
}
