@media only screen and (max-width: 480px) {
    .ChildLoginButton{
        display: block;
        background: #2261ab;
        filter:opacity(90%);
        border-radius: 15px;
        border: transparent;
        width: 100%;
        height: 35px;
        letter-spacing: 1px;
    }
    .ChildLoginLink{
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
    }
}