/* .wave{
    background: linear-gradient(
      to top,
      white 50%,
      #EAC41A 80%
    ); 
  }  */
.Subtitle1{
  font-size: 16px;
}
.Subtitle2{
  font-size: 14px;
}
.LandingDescription{
  font-size: 12.5px;
}
