    .ChildLogin{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50%;
        width: 100%; 
        position: fixed;
    }
    .CLTitleContainer{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .CLTitle{
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        letter-spacing: 2px;
    }
    /* .PinContainer{
        display: flex;
        justify-content: center;
    } */