.Register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 10%; 
}
.RegisterTitle{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}
/* .backButton{
    background-color: #EEECEC;
    border-radius: 50%;
    border: transparent;
    box-shadow: 4px  4px 4px gray;
    height: 43px;
    width: 43px;
}
.backButton:active{
    box-shadow: 0 4px gray;
    transform: translateY(2px);
}
.backLink{
    text-decoration: none;
    color: black;
} */
.CreateAccount{
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2;
    text-align: center;
}
.RegisterFormBox{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60vh;
}
.Input1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.RegisterFormBox input,
textarea {
    padding: .8rem 0.8rem .8rem 0.8rem;
    margin: 2vw 0;
    width: 343px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #1A4F8B;
}
.ButtonContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}
.RegisterButton{
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 50px;
    background-color: rgba(109,146,229,255) !important;
    border: transparent;
    color: white;
    font-weight:500;
}
@media only screen and (max-width: 768px) {
    .Register{
        padding-top: 20%; 
    }
    .FormBox input,
    textarea{
        padding: .8rem 0.8rem .8rem 0.8rem;
        margin: 2vw 0;
        width: 300px;
        border-radius: 5px;
        font-size: 18px;
} 
}