.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    position: fixed;
    bottom: 0;
    height: 3em;
    left: 0;
    text-align: center;
    color: black;
    margin-top: auto;
    text-align: center;
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .Footer {
        bottom: 0;
        height: auto;
        margin-top: auto;
        text-align: center;
        width: 100vw;
    }
}